*/
*.png
*.jpg
*.jpeg
*.docx
*.xlsx
*.pdf
*.pptx
*.txt
*.csv
*.gmad
*.gdml
*.yml
*.sh
*.submit
*.root
*.phsp
*.header
01_3dHistoTest.ipynb
optimiser_orig.py
quad_scan_res.py
s2_construct.ipynb
test.py
test_solenoid.py
test_sophia.ipynb
test_topas.py